body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }
  
a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar{
    width: 7px; 
    height: 8px; 
  }
  ::-webkit-scrollbar-track {
    border: none;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(120, 120, 120, 0.9); 
    border-radius: 10px;
  }