@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }
  
a {
    text-decoration: none;
    color: inherit;
}

/* .header_title::first-letter {
    color: red !important;
    } */
